* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-weight: 400;
    outline: none;
  }
  
  body {
    position: relative;
    background-color: #B5AFA5;
    /* background-image: url("Photos/noise.gif"); */
    z-index: 0;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .video-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  #videoBG{
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .fa-battery-full {
    font-size: 2vw; 
    /* animation: shake 0.5s; */
  }
  .fas .tooltiptext {
    font-size: 1vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    visibility: hidden;
    width: 100px;
    background-color: transparent;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding-left: 10px;
    position: absolute;
    left: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.1s;
  }
  
  .fas:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .fa-battery-quarter{
    color: #F2E56F;
    opacity: 0.5;
  }
  .fa-battery-full{
    opacity: 1;
  }
  nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    background-color: transparent;
    border: 2px;
    font-size: 2vw; 
  }
  
  nav a {
    position: relative;
    top: 0;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: #f6eee0;
  
    /* text-shadow: white 1px 0 30px; */
  }
  div a:after {
    content: "";
    position: absolute;
    height: 0.15vw;
    background-color: white;
    width: 0;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  
  a:hover {
    color: white;
  }
  
  a:hover:after {
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  nav ul div {
    display: flex;
  }
  nav ul li:hover {
    color: white;
  }
  
  nav ul li:hover > a {
    color: white;
  }
  
  nav ul li {
    margin: 10px 20px 10px 20px;
    /* transition: 0.2s ease; */
    cursor: pointer;
  }
  .hero-text{
    position: absolute;
    color: white;
    opacity: 0.7;
    display: flex;
    width: 100%;
    flex-direction: row;
    bottom: 20%;
    left: 5%;
  
  }
  .hero-text p{
    font-size: 8vw;
    /* height: 10vh; */
    /* animation: typing 3s steps(100, end), blink-caret 0.75s step-end infinite; */
  }
  .typing{
    z-index: 1;
      animation: typing 10s steps(100, end), blink-caret 0.75s step-end infinite;
  
  }
  .blinking {
    animation: blinkingText 2.2s infinite;
  }
  
  .downArrow{
    cursor: pointer;
    background:rgba(255,255,255, 0.05);  
    color: white;
    height: 10vh;
    top: 90vh;
    position: absolute;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.3s;
    opacity: 0.5;
  }
  .downArrow:hover{
    background:rgba(255,255,255, 0.3);  
  
  
  }
  .fa-angle-down{
    height: 0;
    z-index: -1;
    font-size: 3vw;
    background-color: transparent;
    animation: float2 1s infinite;
    transition: 0.3s ease-in-out;
  }
  .fa-angle-down:hover{
    font-size: 2.8vw;
  }
  
  .portfolio-page {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(200px, auto);
    background-color:  #282724;
    transition: 0.2s;
    /* animation: float3 6.2s ease-in-out infinite; */
  }
  .portfolio-page-no-animation {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(200px, auto);
    background-color: #282724;
    animation: none !important;
    transition: 0.2s;
  
  }
  .portfolio-page article:hover{
    opacity: 1;
  }
  
  .portfolio-page article {
    box-shadow:
    0  5px 10px rgb(154,160,185,0.05),
    0 15px 40px rgb(166,173,201,0.2);
    color: white;
    position: relative;
    border-right: 0px;
    border-left: 0px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    margin: 10px;
    transition: 1s ease;
    text-align: center;
    opacity: 0.3;
  
  }
  
  
  
  .portfolio-page article img {
    border-radius: 1px;
    
    image-rendering: optimizeQuality;
    position: absolute;
    object-fit: cover;
    background-size: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  
    width: 100%;
    height: 85%;
    bottom: 15%; 
    left: 0;
    margin: 0;
    /* height: 1fr; */
    /* padding-top: 250px; */
  }
  
  .portfolio-page article video {
    border-radius: 1px;
    object-fit: contain;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 85%;
    top: 0;
    left: 0;
    margin: 0;
    height: 2fr;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* padding-top: 250px; */
  }
  
  .portfolio-page article h2 {
    width: 100%;
    position: absolute;
    font-size: 30px;
    bottom: 45%;
  }
  
  .portfolio-page article p {
    font-size: 15px;
    bottom: 35%;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
  }
  
  .portfolio-page button {
    font-size: 20px;
    color: #5C554A;
    border: none;
    cursor: pointer;
  
    transition: 0.1s ease;
  
    width: 50%;
    height: 15%;
  
    z-index: 1;
    
  }
  
  .portfolio-page button:hover {
    opacity: 1;
    z-index: 1;
    color: white;
  }
  
  .code-button {
    background-color: #DBCCB2;
    color: #5C554A;
    position: absolute;
    border-bottom-left-radius: 5px; 
    bottom: 0;
    left: 0;
  }
  
  .app-button {
    border-bottom-right-radius: 5px;
    background-color: #C1DBBD;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  /* punk api */

 
  .portfolio-page article:nth-child(1) {
    grid-column: 1/7;
    grid-row: 1/5;
    transform: translatey(0px);
    /* animation: float 4.2s ease-in-out infinite; */
  }
  .portfolio-page article:nth-child(2) {
    grid-column: 1/4;
    grid-row: 5/8;
    
    transform: translatey(0px);
    /* animation: float3 6.2s ease-in-out infinite; */
  }
  /* notes */
  .portfolio-page article:nth-child(3) {
    grid-column: 4/7;
    grid-row: 5/8;
    
    transform: translatey(0px);
    /* animation: float2 5.85s ease-in-out infinite; */
  }
  
  .portfolio-page article:nth-child(4) {
    grid-column: 1/3;
    grid-row: 8/10;
    transform: translatey(0px);
    /* animation: float1 5.2s ease-in-out infinite; */
  }
  
  .portfolio-page article:nth-child(5) {
    grid-column: 3/7;
    grid-row: 8/12;
    transform: translatey(0px);
    /* animation: float 3.67s ease-in-out infinite; */
  }
  
  .portfolio-page article:nth-child(6) {
    grid-column: 1/3;
    grid-row: 10/12;
    transform: translatey(0px);
    /* animation: float2 5.8s ease-in-out infinite; */
  }

  .about-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color:  #282724;
    box-shadow:
    0  5px 10px rgba(154,160,185,0.05),
    0 15px 40px rgba(166,173,201,0.2);
   
    /* border: 10px solid #DBD4C8; */
    /* background: linear-gradient(90deg, #f6eee0 26%, #decfbf 69%); */
  }
  
  .about-page {
 
    article{
      font-family: sans-serif;
      background: #ECE9E6;
      background: linear-gradient(to right, #FFFFFF, #ECE9E6);
      margin: 5px;
      padding: 20px;
      border-radius: 10px; 
      justify-self: center;
      text-align: center;
      color: #403A40;
      h3{
        padding: 20px;
        margin: 5px;
        font-weight: 600;
        color: #BE3E35;
        border-radius: 10px;
        font-size: 2vw;
    }
      i{
        font-size: 6vw;
        cursor: pointer;
        margin: 20px;
        transition: 1.3s ease-in-out;
        &:hover{
          transform: rotate(720deg);
        }
        &:nth-child(2){
          color: #BE3E35;
        }
        &:nth-child(3){
          color: #F7D200;
        }
        &:nth-child(4){
          color: #73060F;
        }
        &:nth-child(5){
          color: #F7D200;
        }
        &:nth-child(6){
          color: #074973;
        }
        &:nth-child(7){
          color: #403B3B;
        }
        &:nth-child(8){
          color: #BE3E35;
        }
  
      }

      .wave {
        animation: wave-animation;  
        animation-duration: 2.5s;     
        animation-iteration-count: infinite;  
        transform-origin: 70% 70%;
        display: inline-block;
        font-size: 3vw;
      }
      h2{
        font-size: 3vw;
        padding: 20px;
        font-weight: 600;
        color: #BE3E35;
        border-radius: 10px;
      }


    img {
      position: absolute;
      width: 0vw;
      left: 0;
    }
    p {
      font-size: 2vw;
      font-weight: 500;
      border-bottom: 2px solid #BE3E35;
      padding: 2vh 2vh;
    }
    
  }
 
  }
  
  .about-page article:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .about-page article:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .about-page article:nth-child(3) {
    grid-column: 4/5;
    grid-row: 1/2;
    overflow-x: scroll;
    max-height: 100vh;
    p {
      font-size: 20px;
    }
    li {
      list-style-type: circle;
      font-size: 2vw;
      margin: 0;
     
      i {
        font-size: 1.5vw;
        margin: 1vw;
      }
    }
  }
  
  
  
  footer {
    padding: 40px;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    
    color: #403A40;
  }
  
  footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  footer ul button {
    outline: 0;
    transition: 0.2s ease;
    cursor: pointer;
    border: none;
    font-size: 40px;
    background-color: transparent;
    position: relative;
  }
  footer ul button:hover {
    transform: scale(1.15);
  }
  footer ul button:hover::after {
    transform: scale(1.15);
  }
  
  
  #email:hover::after{
    display: inline;
    /* border: 5px solid #2C332F;
    border-radius: 5px; */
    font-size: 40px;
    padding-bottom: 10px;
    /* content: ''; */
    position: absolute;
    top: -.25rem;
    background: transparent;
    color: #2C332F;
    transform: translateX(-50%) translateY(-100%);
    left: 50%;
    content: attr(data-tooltip);
  
  }
  
  /* //////////////////////////// Animation Section Start /////////////////////////////////// */
  /* @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  } */
  @keyframes blinkingText {
    0% {
      color: white;
    }
    50% {
      color: white;
    }
    51% {
      color: transparent;
    }
    100% {
      color: transparent;
      ;
    }
  }
  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

  @keyframes float {
      0% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
      }
      50% {
          box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
          transform: translatey(-3.7px);
      }
      100% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
    }
    
  }
  @keyframes float2 {
      0% {
          box-shadow: 0 2px 5px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
      }
      50% {
          box-shadow: 0 4px 2px 0px rgba(0,0,0,0.2);
          transform: translatey(-5.5px);
      }
      100% {
          box-shadow: 0 1px 3px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
    }
    
  }
  @keyframes float3 {
      0% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
      }
      50% {
          box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
          transform: translatey(-3.9px);
      }
      100% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
          transform: translatey(0px);
    }
    
  }
  @keyframes typing {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  } 
  /* @keyframes appeardown {
    from {
      height: 0;
    }
    to {
      height: 35vh;
    }
  }
  
  @keyframes appearup {
    from {
      height: 0;
    }
    to {
      height: 80vh;
    }
  }  */
  
  
  /* //////////////////////////// Animation Section End /////////////////////////////////// */
  
  /* //////////////////////////// Responsive layout ////////////////////////////// */
  
  
  @media screen and (min-width: 180px) and (max-width: 568px){
  
    nav {
      font-size: 2.5vw; 
    }
    .portfolio-page article {
      opacity: 1;
  
    }
    .portfolio-page article p {
      display: none;
    }
    .portfolio-page article h2 {
      top: 1%;
    }
  
      .portfolio-page article:nth-child(1){
      grid-column: 1/7;
      grid-row: 1/3;
    }
    .portfolio-page article:nth-child(2){
      grid-column: 1/7;
      grid-row: 3/5;
    }
    
    .portfolio-page article:nth-child(3){
      grid-column: 1/7;
      grid-row: 5/7;
    }
    .portfolio-page article:nth-child(4){
      grid-column: 1/7;
      grid-row: 7/9;
    }
    .portfolio-page article:nth-child(5){
      grid-column: 1/7;
      grid-row: 9/11;
    }
    .portfolio-page article:nth-child(6){
      grid-column: 1/7;
      grid-row: 11/13;
    }
    .about-page article:nth-child(1) {
      grid-column: 1/4;
      grid-row: 2/3;
    }
    
    .about-page article:nth-child(2) {
      grid-column: 1/4;
      grid-row: 1/2;
    }
  }
  @media screen and (min-width: 568px) and (max-width: 1028px){
    .portfolio-page article {
      opacity: 1;
  
    }
    nav {
      font-size: 2.5vw; 
    }
    .portfolio-page article p {
      display: none;
    }
    .portfolio-page article h2 {
      top: 1%;
    }
  
    .portfolio-page article:nth-child(1){
      grid-column: 1/7;
      grid-row: 1/5;
    }
    .portfolio-page article:nth-child(2){
      grid-column: 1/7;
      grid-row: 5/9;
    }
    
    .portfolio-page article:nth-child(3){
      grid-column: 1/7;
      grid-row: 9/13;
    }
    .portfolio-page article:nth-child(4){
      grid-column: 1/7;
      grid-row: 13/17;
    }
    .portfolio-page article:nth-child(5){
      grid-column: 1/7;
      grid-row: 17/21;
    }
    .portfolio-page article:nth-child(6){
      grid-column: 1/7;
      grid-row: 21/25;
    }
  }
    /* //////////////////////////// End Responsive layout ////////////////////////////// */
  
  .modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal article {
    width: 50%;
    height: 75vh;
    position: relative;
    border: 5px solid #2C332F;
    border-radius: 4px;
    background-color: #f6eee0;
    padding: 10px;
  }
  .email-form{
    margin: 10px;
  
  }
  .email-form h3 {
    font-weight: bold;
    color: #2C332F;
    font-size: 35px;
    padding-bottom: 20px;
  }
  .email-form input {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .email-form textarea {
    font-size: 20px;
    color: #2C332F;
  }
  .email-form button {
    cursor: pointer;
    /* border: 10px solid #2C332F; */
    border-radius: 5px;
    width: 50%;
    background: #C1DBBD;
    font-size: 30px;
    border: none;
    color: #2C332F;
    padding: 10px;
    margin-top: 20px;
  }
  .email-form button:hover {
    border: 2px solid #2C332F;
    border-radius: 5px;
    color: white;
  
  }
  
  
  .modal article * {
    display: block;
  }
  
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .display-none {
    display: none;
  }